.large-column {
    max-width: 500px;
}

mat-button-toggle-group {
    margin: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch
}

movie-card {   
    flex-basis: 15%;
    padding: 15px;
}